mixin createEventsTable(events, caption)
    table.table.table-bordered.table-striped.table-hover
        caption #{caption}
        thead
            tr
                th.col-lg-1 Title
                th.col-lg-1 Category
                th.col-lg-1 Season
                th.col-lg-1 Initiative
                th.col-lg-2 Date
                th.col-lg-4 Description                
                th.col-lg-1 Evaluation
                th.col-lg-1 Creator   
        tbody
            each event in events                
                tr
                    td.col-lg-1
                        a(href="/events/#{event._id}") #{event.title}
                    td.col-lg-1 #{event.category.name}
                    td.col-lg-1 #{event.type.season.name}
                    td.col-lg-2 #{event.type.initiative.name}
                    td.col-lg-2= moment(event.date).format('MMMM Do YYYY, h:mm:ss a')
                    td.col-lg-4 #{event.description}                                       
                    td.col-lg-1 #{event.evaluation}
                    td.col-lg-1 #{event.user.username}
